/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
    margin: 20px 0;
    max-width: 100%;
}

#image-container img {
    max-width: 100%;
    height: auto;
}

#question {
    font-family: 'georgia', cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'georgia', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff4d79;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

#si-button {
    transition: font-size 0.3s ease;
}

#love-message {
    font-family: 'georgia', cursive;
    font-size: 52px;
    color: #FB607F;
    margin: 20px 0;
}
